    ---
    title: My Forth post
    excerpt: Typically, SMS messages have a limit of 160 characters
    date: 2021-09-20
    ---
    <p>
        Typically, SMS messages have a limit of 160 characters, which in some cases just isn’t enough. Let’s say you’d like to send a very important business
        SMS without having to shorten words or use text talk. This is where concatenation or long SMS messages come in.

        Concatenation happens automatically when using the BulkSMS products, and lets you send a single SMS message that consists of up to 6 SMS parts in one send.
        In other words, you’ve got up to 918 characters to work with and not only 160.
    </p>
